@import "tailwindcss";

@theme {
  --color-bg-base: #fdfbf7;
  --color-text-main: #1a1a1a;
  --color-gold-deep: #B8860B;
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-main);
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
}
